<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าเข้าสู่ระบบ</title>
  </head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Roboto">
    <style>
    @font-face {
      font-family: 'Athiti';
    }

    * {
      font-family: 'Athiti';
      margin: 0;
      padding: 0;
    }
    input {
      border-radius: 5px;
      height :45px;
      border-color: #d4d3d3;
      padding-left: 20px;
      width:100%;
      font-size: 1.5em;
    }
      body,html {
        background-color: #333333;
        height: 100%;
        width: 100%;
        display: table;
      }
      .login {
        display: table-cell;
        vertical-align :middle;
        height: 100%;
        padding-left: 600px;
        padding-right: 600px;
      }
      .login-box {

        text-align: center;
        background-color: white;
        padding: 30px;
        border-radius: 5px;
      }

      #username-error{
        color: red;
        float: left;
      }
      #password-error{
        color: red;
        float: left;
      }
      .dropdown {
        position: absolute;
        right: 0;
        padding: 15px;
        height: 10px;
      }
      @media screen and (max-width: 1200px) {
        .login {
          padding-left: 100px;
          padding-right: 100px;
        }
      }
      @media screen and (max-width: 500px) {
        .login {
          padding-left: 50px;
          padding-right: 50px;
        }
      }



    </style>
  <body>
    <div class="dropdown">
      <select class="form-control" id="language">
        <option value="th">TH</option>
        <option value="en">EN</option>
      </select>
    </div>
        <div class="login">
          <div class="login-box">
                <h2 id="login">เข้าสู่ระบบ</h2>
            <form id="login-form" action="/auth" method="POST">
              <div class="form-group">
                  <input type="username" id="username" name="username" placeholder="ชื่อผู้ใช้งาน">
              </div>
              <div class="form-group">
                  <input type="password" id="password" name="password" placeholder="รหัสผ่าน">
              </div>
              <center><button type="submit" id="loginBtn" class="btn btn-primary" style=" margin-bottom: 30px; width:100%; font-size:1.2em;">เข้าสู่ระบบ</button></center>
            </form >
        </div>
      </div>


    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery.validate.min.js"></script>
    <script src="/js/i18n/jquery.i18n.js"></script>
    <script src="/js/i18n/jquery.i18n.messagestore.js"></script>
    <script src="/js/i18n/jquery.i18n.fallbacks.js"></script>
    <script src="/js/i18n/jquery.i18n.parser.js"></script>
    <script src="/js/i18n/jquery.i18n.emitter.js"></script>
    <script src="/js/i18n/jquery.i18n.language.js"></script>
    <script src="/js/language.js"></script>
        <script>
      $( document ).ready(function(){

        $("#login-form").validate({
          rules: {
            username: {
              required:true
            },
            password: {
              required:true
            }
          },
          messages: {
            password: "โปรดกรอกรหัสผ่าน.",
            username: "โปรดกรอกชื่อผู้ใช้งาน."

          }
      })
      jQuery.extend(jQuery.validator.messages, {
        ///required: "โปรดกรอกข้อมูลให้ครบ.",
        /*remote: "Please fix this field.",
        email: "Please enter a valid email address.",
        url: "Please enter a valid URL.",
        date: "Please enter a valid date.",
        dateISO: "Please enter a valid date (ISO).",
        number: "Please enter a valid number.",
        digits: "Please enter only digits.",
        creditcard: "Please enter a valid credit card number.",
        equalTo: "Please enter the same value again.",
        accept: "Please enter a value with a valid extension.",
        maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
        minlength: jQuery.validator.format("Please enter at least {0} characters."),
        rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
        range: jQuery.validator.format("Please enter a value between {0} and {1}."),
        max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
        min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")*/
    });
    });
    </script>
  </body>
</html>
