<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าเข้าสู่ระบบ</title>
  </head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Roboto">
    <style>
    @font-face {
      font-family: 'Athiti';
    }

    * {
      font-family: 'Athiti';
      margin: 0;
      padding: 0;
    }
    input {
      border-radius: 5px;
      height :45px;
      border-color: #d4d3d3;
      padding-left: 20px;
      width:100%;
      font-size: 1.5em;
    }
      body,html {
        background-color: #333333;
        height: 100%;
        width: 100%;
        display: table;
      }
      .login {
        display: table-cell;
        vertical-align :middle;
        height: 100%;
        padding-left:  500px;
        padding-right:  500px;
      }
      .login-box {

        text-align: center;
        background-color: white;
        padding: 30px;
        border-radius: 5px;
      }

      #username-error{
        color: red;
        float: left;
      }
      #password-error{
        color: red;
        float: left;
      }

      @media screen and (max-width: 800px) {
        .login {
          padding-left:  20px;
          padding-right:  20px;
        }
      }




    </style>
  <body>
        <div class="login">
          <div class="login-box">
                <h2 >เข้าสู่ระบบ</h2>
            <form id="login" action="/auth" method="POST">
              <div class="form-group">
                  <input type="username" id="username" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                  <input type="password" id="password" name="password" placeholder="Password">
              </div>
              <center><button type="submit" class="btn btn-primary" style=" margin-bottom: 30px; width:100%; font-size:1.2em;">Submit</button></center>
            </form >
        </div>
      </div>


    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery.validate.min.js"></script>
        <script>
      $( document ).ready(function(){
        $("#login").validate({
          rules: {
            username: {
              required:true,
            },
            password: {
              required:true,
            }
          }
      })
    });
    </script>
  </body>
</html>
