<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าเข้าสู่ระบบ</title>
  </head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Roboto">
    <style>
    @font-face {
      font-family: 'Athiti';
    }

    * {
      font-family:'Athiti';

    }
    </style>
  <body>
    <div class = "container" style="margin-top:30px;">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="drop-shadow">
                  <h2 style="padding-top: 20px; text-align: center;">เข้าสู่ระบบ</h2>
              <form id="login" action="/auth" method="POST">
                <div class="form-group">
                    <label for="date">Username:</label>
                    <input type="username" id="username" name="username" style="width:100%;">
                </div>
                <div class="form-group">
                    <label for="date">Password:</label>
                    <input type="password" id="password" name="password" style="width:100%;">
                </div>
                <center><button type="submit" class="btn btn-primary" style=" margin-bottom: 30px; width:100%;">Submit</button></center>
              </form >
          </div>
        </div>
            </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
