<!DOCTYPE html>
<html>
<head>
<title>แสดงข้อมูลรายรับ-รายจ่าย</title>
</head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/jquery.bootgrid.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/jquery-confirm.min.css">
  <link rel="stylesheet" type="text/css" href="/datepicker/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Roboto">
  <style>
    @font-face {
      font-family: 'Athiti';
    }

    * {
      font-family:'Athiti';

    }
    body,html {
      height: 100%;
    }
    label {
      margin-top: 15px;
    }
    #date-error{
      color: red;
    }
    #background {
      background: rgba(147,206,222,1);
      background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
      background-size: cover;
      height: 100%;
    }
    #border {
      background-color: white;
      box-shadow: 2px 2px 20px #999999;
      border-radius: 10px;
    }
    .navbar-default {
      background-color: #333;
      border-color: #333;
      color: #f5f5f5;
    }
    .navbar-default .navbar-nav>li>a {
      color: #f5f5f5;
    }
    .btn-logout {
      width: 100%;
      padding: 3px 20px !important;
      text-align: left !important;
    }
  </style>
  <script src="/jquery.min.js"></script>
  <script>

  </script>
  <body>
    <nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"  style="color: #f5f5f5;">รายรับ-รายจ่าย</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">หน้าแรก</a></li>
      <li ><a href="/insertForm">หน้ากรอกช้อมูลรายรับ-รายจ่าย <span class="sr-only">(current)</span></a></li>
      <li class="active"><a href="/view">หน้าแสดงรายรับ-รายจ่าย</a></li>
      <li>
          <p class="navbar-btn" style="padding-left: 20px;">
                    <a href="/logout" class="btn btn-default" >ออกจากระบบ</a>
          </p>
      </li>
    </ul>
  </div>
</div>
</nav>

          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <table id="grid-data"  class="table table-condensed table-hover table-striped" data-ajax="true" data-url="/find">
        				    <thead>
        				        <tr>
        				            <th data-formatter="date" data-column-id="date">วัน/เดือน/ปี</th>
        				            <th data-formatter="incomedetail" data-column-id="incomedetail">ประเภทรายรับ</th>
        				            <th data-formatter="income" data-column-id="income">รายรับ</th>
        				            <th data-formatter="outcomedetail"data-column-id="outcomedetail">ประเภทรายจ่าย</th>
                            <th data-formatter="outcome" data-column-id="outcome">รายจ่าย</th>
                            <th data-column-id="note">หมายเหตุ</th>
        				            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
        				        </tr>
        				    </thead>
        				</table>
              </div>
            </div>
          </div>

          <div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h2 style="padding-top: 20px; text-align: center;">แก้ไขรายรับ-รายจ่าย</h2>
        </div>
        <div class="modal-body">
          <div class="drop-shadow">
        <form id="insert-form" action="/update" method="POST">
          <div class="form-group">
                <input class="form-control" id="id" name="id"></input>
              </div>
          <div class="form-group">
         <div class='input-group date' id='datetimepicker1'>
             <input type='text' class="form-control" id="date" name="date"/>
             <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
             </span>
         </div>
     </div>
          <div class="form-group">
                <label for="incomedetail">รายรับ:</label>
                <textarea class="form-control" rows="3" id="incomedetail" name="incomedetail" placeholder="รายละเอียดรายรับ"></textarea>
              </div>
                <div class="form-group">
                  <label for="income">จำนวนเงินของรายรับ:</label>
                  <input type="number" class="form-control" id="income" name="income" placeholder="จำนวนเงิน ( บาท )"></input>
              </div>
              <div class="form-group">
                    <label for="outcomedetail">รายจ่าย:</label>
                    <textarea class="form-control" rows="3" id="outcomedetail" name="outcomedetail" placeholder="รายละเอียดรายจ่าย"></textarea>
                  </div>
                    <div class="form-group">
                      <label for="outcome">จำนวนเงินของรายจ่าย:</label>
                      <input type="number" class="form-control" id="outcome" name="outcome" placeholder="จำนวนเงิน ( บาท )"></input>
                  </div >
                  <div class="form-group">
                        <label for="note">หมายเหตุ:</label>
                        <textarea class="form-control" rows="3" id="note" name="note" placeholder="หมายเหตุ"></textarea>
                      </div>
          <center><button type="submit" class="btn btn-primary" style=" margin-bottom: 30px; width:100%;">แก้ไข</button></center>
        </form >
    </div>
  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
        </div>
      </div>

    </div>
  </div>

</div>
  <script src="/min/moment.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/jquery.bootgrid.min.js"></script>
  <script src="/jquery-confirm.min.js"></script>
  <script src="/datepicker/js/bootstrap-datetimepicker.min.js"></script>

      <script>
      $( document ).ready(function(){
        initGrid();
        $(function () {
                  $('#datetimepicker1').datetimepicker({
                    format: 'L'
                  });
              });
      });
      function initGrid() {

     var grid = $("#grid-data").bootgrid({

         ajaxSettings: {
           method: "GET",
           type: "json",

         },
         rowCount: [5,10,15],
         ajax: true,
         url: "/find",
         labels: {
            noResults: "ไม่พบข้อมูล",
            search: "ค้นหาประเภทรายรับ"
          },
          formatters: {
            "commands": function(column, row) {
                return "<button type=\"submit\" class=\"btn btn-xs btn-default command-edit\" data-toggle=\"modal\" data-target=\"#myModal\" data-row-id=\"" + row._id + "\"><span class=\"fa fa-pencil\"></span></button> " +
                "<button type=\"submit\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row._id +"\"><span class=\"fa fa-trash-o\"></span></button>";
      },
      "income": function(column,row) {

        if(row.income == '' || row.income == '-') {
         return "ไม่มี";
       }else {
         return row.income + " บาท";
       }
      },
      "outcome": function(column,row) {
        if(row.outcome == ''|| row.outcome == '-') {
         return "ไม่มี";
       }else {
         return row.outcome + " บาท";
       }
      },
      "date" : function(column,row) {
          var month = row.date.split('/')[0];
          var day = row.date.split('/')[1];
          var year = row.date.split('/')[2];
          return day + "/" + month + "/" + year;
      },
      "incomedetail": function(column,row) {
        if(row.incomedetail == '' || row.incomedetail == '-') {
         return "ไม่มี";
       }else {
         return row.incomedetail;
       }
     },"outcomedetail": function(column,row) {
             if(row.outcomedetail == '' || row.outcomedetail == '-') {
              return "ไม่มี";
            }else {
              return row.outcomedetail;
            }
    }
  }
  }).on("loaded.rs.jquery.bootgrid", function() {
    /* Executes after data is loaded and rendered */
    grid.find(".command-edit").on("click", function(e) {
      var id = $(this).data("row-id");
      $("#myModal").modal();
             $.ajax({
                type : "GET",
                url: "/find/" + id,
                success: function(response) {
                  Object.values(response).forEach(function(item) {
                    $('#id').val(item._id).hide()
                    $('#date').val(item.date)
                    $('#incomedetail').val(item.incomedetail)
                    $('#income').val(item.income)
                    $('#outcomedetail').val(item.outcomedetail)
                    $('#outcome').val(item.outcome)
                    $('#note').val(item.note)
                  });

                },
                error: function() {
                  //alert('text status' + textstatus + ', err ' + errorThrown);
                }
             });


    }).end().find(".command-delete").on("click", function(e) {
      var id = $(this).data("row-id");
      console.log(id);
      //var obj = new ObjectID(retName);
      $.confirm({
        title: 'Confirm!',
        content: 'Are you Sure!',
        buttons: {
          confirm: function() {
            $.ajax({
              type: "POST",
              url: "/delete/" + id,

            });
            $("#grid-data").bootgrid("reload");

          },
          cancel: function() {
          }
        }
      });


    });
  })




      }
      </script>
  </body>
</html>
