<!DOCTYPE html>
<html>
<head>
<title>แสดงข้อมูลรายรับ-รายจ่าย</title>
</head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/jquery.bootgrid.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/jquery-confirm.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Athiti|Roboto">
  <style>
    @font-face {
      font-family: 'Athiti';
    }

    * {
      font-family:'Athiti';

    }
    body,html {
      height: 100%;
    }
    label {
      margin-top: 15px;
    }
    #date-error{
      color: red;
    }
    #background {
      background: rgba(147,206,222,1);
      background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
      background-size: cover;
      height: 100%;
    }
    #border {
      background-color: white;
      box-shadow: 2px 2px 20px #999999;
      border-radius: 10px;
    }
    .navbar-default {
      background-color: #333;
      border-color: #333;
      color: #f5f5f5;
    }
    .navbar-default .navbar-nav>li>a {
      color: #f5f5f5;
    }
  </style>
  <script src="/jquery.min.js"></script>
  <script>

  </script>
  <body>
    <nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"  style="color: #f5f5f5;">รายรับ-รายจ่าย</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="/insertForm">หน้ากรอกช้อมูลรายรับ-รายจ่าย <span class="sr-only">(current)</span></a></li>
      <li class="active"><a href="/view">หน้าแสดงรายรับ-รายจ่าย</a></li>
    </ul>
  </div>
</div>
</nav>

          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <table id="grid-data"  class="table table-condensed table-hover table-striped" data-ajax="true" data-url="/find">
        				    <thead>
        				        <tr>
        				            <th data-column-id="date">วัน/เดือน/ปี</th>
        				            <th data-column-id="incomedetail">ประเภทรายรับ</th>
        				            <th data-column-id="income">รายรับ</th>
        				            <th data-column-id="outcomedetail">ประเภทรายจ่าย</th>
                            <th data-column-id="outcome">รายจ่าย</th>
        				            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
        				        </tr>
        				    </thead>
        				</table>
              </div>
            </div>
          </div>
  <script src="/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/jquery.bootgrid.min.js"></script>
  <script src="/jquery-confirm.min.js"></script>

      <script>
      $( document ).ready(function(){
        initGrid();
      });
      function initGrid() {

     var grid = $("#grid-data").bootgrid({

         ajaxSettings: {
           method: "GET",
           type: "json",

         },
         rowCount: [5,10,15],
         ajax: true,
         url: "/find",
          formatters: {
            "commands": function(column, row) {
                return "<button type=\"submit\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row._id + "\"><span class=\"fa fa-pencil\"></span></button> " +
                "<button type=\"submit\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row._id +"\"><span class=\"fa fa-trash-o\"></span></button>";
      },
      "name": function(column,row) {
         return row.name;
      },
      "number-id" : function(column,row) {
          return row._id;
      }
    }
  }).on("loaded.rs.jquery.bootgrid", function() {
    /* Executes after data is loaded and rendered */
    grid.find(".command-edit").on("click", function(e) {
      var id = $(this).data("row-id");
      alert(id);

             /*$.ajax({
                type : "GET",
                url: "/update/" + id,
                success: function() {
                  window.location.href = "/update/" + id;
                },
                error: function() {
                  alert('text status' + textstatus + ', err ' + errorThrown);
                }
             });
*/

    }).end().find(".command-delete").on("click", function(e) {
      var id = $(this).data("row-id");
      console.log(id);
      //var obj = new ObjectID(retName);
      $.confirm({
        title: 'Confirm!',
        content: 'Are you Sure!',
        buttons: {
          confirm: function() {
            $.ajax({
              type: "POST",
              url: "/delete/" + id,

            });
            $("#grid-data").bootgrid("reload");

          },
          cancel: function() {
          }
        }
      });


    });
  })




      }
      </script>
  </body>
</html>
